 @font-face
{
	font-family: song2;
	src:url('fonts/song2.TTF');
}


*{
margin:0;
padding:0;
}


#MonthTitle
{
	
	text-align: center;
	
}
#Toutside
{
	top: 20px;
	position: absolute;
	width: 100%;
	
}
#goalBM
{
	text-align: center;
	margin: 0 auto;
	height: 100%;
	writing-mode: vertical-lr;
	font-family: song2;
	font-size: 40px;
}
#goalBMout
{
	position: absolute;
	top: 60px;
	bottom: 30px;
	width: 100%;
}
#BMOK
{
	position: absolute;
	top: 20px;
	right: 20px;
	height: 40px;
	width: 40px;

}



.goalDM
{
	/*visibility: hidden;*/

	left: 30px;
	position: absolute;
	width: 240px;
	font-family: song2;
	font-size: 30px;
	margin: 0 auto;
}
.DMOK
{
	position: absolute;
	right: 30px;
	height: 40px;
	width: 40px;
}
.MU
{
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border-style: hidden;
	right: 30px;
	background: url('./pic/up.png')no-repeat;
	background-size: contain;
}


.goalBW
{
	left: 100px;
	position: absolute;
	width: 180px;
	font-family: song2;
	font-size: 20px;
	margin: 0 auto;
	visibility: hidden;
}
.goalBWDate
{
	left: 5px;
	position: absolute;
	font-family: song2;
	font-size: 15px;
	white-space: pre-wrap;
	visibility: hidden;
}
.BWOK
{
	position: absolute;
	height: 40px;
	width: 40px;
	right: 20px;
	visibility: hidden;
}

.goalDW
{
	left: 30px;
	position: absolute;
	width: 240px;
	font-family: song2;
	font-size: 30px;
	margin: 0 auto;
	visibility: hidden;
}
.DWOK
{
	position: absolute;
	width: 40px;
	height: 40px;
	right: 30px;
	visibility: hidden;
}

.goalBD
{
	left: 90px;
	position: absolute;
	font-family: song2;
	font-size: 25px;
	margin: 0 auto;
	visibility: hidden;
	width: 200px;
}
.BDOK
{
	position: absolute;
	width: 40px;
	height: 40px;
	right: 20px;
	visibility: hidden;
}
.goalBDDate
{
	left: 15px;
	position: absolute;
	font-family: song2;
	font-size: 15px;
	width: 50px;
	text-align: center;
	white-space: pre-wrap;
	visibility: hidden;
}

.goalUD
{
	left: 30px;
	position: absolute;
	width: 240px;
	font-family: song2;
	font-size: 30px;
	margin: 0 auto;
	visibility: hidden;
}
.UDOK
{
	position: absolute;
	width: 40px;
	height: 40px;
	right: 30px;
	visibility: hidden;
}
#more,#less
{
	position: absolute;
	bottom:10px;
	width: 60px;
	height: 60px;

	border-radius: 50%;
}
#less
{
	left: 0px;
	background: url('pic/expand.png')no-repeat;
	background-size: contain;
}
#more
{
	right:0px;
	background: url('pic/contract.png')no-repeat;
	background-size: contain;
}

#today
{
	position: absolute;
	width: 60px;
	height: 60px;
	bottom: 10px;
	border-radius: 50%;
	left: 0px;
	background: url('pic/today.png')no-repeat;
	background-size: contain;
}

#add
{
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border-style: hidden;
	top: 0px;
	right: 15px;
	background: url('pic/add.png')no-repeat;
	background-size: contain;
}
#del
{
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border-style: hidden;
	top: 45px;
	right: 15px;
	background: url('pic/delete.png')no-repeat;
	background-size: contain;
}
#shift
{
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border-style: hidden;
	right: 54px;
	top: 22.5px;
	background: url('pic/pin.png')no-repeat;
	background-size: contain;
	visibility: hidden;
}



.justs
{
	text-align: center;
	font-family: song2;
}
.so
{
	position: absolute;
	width: 100%;
}




body, html {
　　position: fixed;
　　top: 0px;
　　bottom: 0px;
　　width: 100%;
　　height: 100%;
}
body:before {

width: 200%;
height: 200%;
content: ' ';
position: fixed;
z-index: -1;
top: 0;
left: 0;
background: #fff;

}
